{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.{json,yml,yaml,md}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
} 